DTD & XSD/XSD/Exercise 24/prices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="priceType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3" />
            <xs:fractionDigits value="2" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="prices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="price" minOccurs="1" maxOccurs="unbounded" type="priceType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>