DTD & XSD/XSD/Exercise 27/youtube_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Definición de tipos y restricciones adicionales -->

    <!-- Restricción para el código de suscriptor -->
    <xs:simpleType name="subscriberCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}-\[\p{Lu}{2}\]-\d{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Restricción para el año de suscripción -->
    <xs:simpleType name="yearType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="2020" />
            <xs:maxInclusive value="2023" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Restricción para availableLanguages como lista -->
    <xs:simpleType name="availableLanguagesType">
        <xs:list itemType="languageType" />
    </xs:simpleType>

    <!-- Restricción para el idioma disponible -->
    <xs:simpleType name="languageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="French" />
            <xs:enumeration value="Italian" />
            <xs:enumeration value="German" />
            <xs:enumeration value="English" />
            <xs:enumeration value="Chinese" />
            <xs:enumeration value="Korean" />
            <xs:enumeration value="Japanese" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Restricción para views -->
    <xs:simpleType name="viewsType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100000000" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Restricción para good -->
    <xs:simpleType name="goodType">
        <xs:restriction base="viewsType">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="200000" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Restricción para el elemento server -->
    <xs:element name="server">
        <xs:complexType>
            <xs:choice>
                <xs:element name="gmail" type="xs:string" />
                <xs:element name="hotmail" type="xs:string" />
                <xs:element name="iessanclemente.net" type="xs:string" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <!-- Esquema principal -->
    <xs:element name="youtube">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="videos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="video" maxOccurs="unbounded">
                                <!-- Cambio: Añadido mixed="true" para contenido mixto -->
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="url" type="xs:string" />
                                        <!-- Cambio: Tipo de views modificado a viewsType -->
                                        <xs:element name="views" type="viewsType" />
                                        <xs:element name="comments">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Cambio: Tipo de good modificado a goodType -->
                                                    <xs:element name="good" type="goodType" />
                                                    <xs:element name="bad" type="xs:integer" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="subscribers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="subscriber"
                                                        maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- Cambio: subscriptionDate
                                                                definido con tipo y restricciones -->
                                                                <xs:element name="subscriptionDate">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="day"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                        <xs:attribute name="month"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                        <xs:attribute name="year"
                                                                            type="yearType"
                                                                            use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <!-- Cambio: comments definido con
                                                                atributos -->
                                                                <xs:element name="comments">
                                                                    <xs:complexType>
                                                                        <xs:attribute
                                                                            name="quantity"
                                                                            type="xs:integer"
                                                                            use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="email">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="user"
                                                                                type="xs:string" />
                                                                            <!-- Cambio: Definido el
                                                                            elemento server con
                                                                            elección de hijos -->
                                                                            <xs:element ref="server" />
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                            name="completo"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="language"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                            <!-- Cambio: Tipo de atributo code
                                                            modificado a subscriberCodeType -->
                                                            <xs:attribute name="code"
                                                                type="subscriberCodeType"
                                                                use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="advertisement">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ad" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="company" type="xs:string" />
                                        <xs:element name="bannersPerMinute" type="xs:integer" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="sponsoredAd" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="company" type="xs:string" />
                                        <xs:element name="bannersPerMinute" type="xs:integer" />
                                        <xs:element name="youTubeDiscount" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="sponsor" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Cambio: Tipo de availableLanguages modificado a availableLanguagesType -->
                <xs:element name="availableLanguages" type="availableLanguagesType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>